*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    background-image: url(/images/bg3.jpg);
    width: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

/* --------------------- Profile ---------------------- */
#profile{
    background-color: #fff;
    margin: 100px 30%;
    padding: 40px;
    border-radius: 20px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 20px 1px black;
}

h1{
    text-align: center;
    font-size: 40px;
    /* margin-top: 40px; */
    margin-bottom: 40px;
}

input{
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 337px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid black;
    font-size: 15px;
}

select{
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 337px;
    padding: 10px;
    border-radius: 6px;
    border: 2px solid black;
    font-family: 'poppins', sans-serif;
    font-size: 15px;

}

button{
    display: block;
    margin: 10px auto;
    height: 40px;
    width: 337px;
    border-radius: 12px;
    background-color: #2c2c31;
    color: white;
}

button:hover{
    background-color: #202024;
}

/* ------------------- Sign up ----------------- */

#sign-up{
    background-color: #fff;
    margin: 200px 35%;
    padding: 40px;
    border-radius: 20px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 20px 1px black;
}

/* --------------------- Login ------------------ */
#log-in{
    background-color: #fff;
    margin: 200px 35%;
    padding: 40px;
    border-radius: 20px;
    /* border: 1px solid black; */
    box-shadow: 1px 1px 20px 1px black;
}