body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #header {
background-color: #f4f0f0;
color: #2117ab;
padding: 10px;
width: 100%;
text-align: center;
 position: fixed; 
top: 0; /* Place it at the top */
z-index: 1000;
}

#search-container {
  width: 80%;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 115px 0px 0px  10%;
  border-radius: 20px;
  
overflow: hidden;
display: flex;
align-items: center;
}

  #search-input {
    padding: 10px;
    font-size: 16px;
    width: 80%;
    margin: 10px;
    border: none;
    outline: none;
  }

  #search-icon {
    width: 30px;
    height: 30px;
    background-color: #ddd;
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #search-icon::before {
    content: "\1F50D"; */
    font-size: 20px; 
    color: #333;
    
  }

  #search-results {
    margin-top: 55px;
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    justify-content: center;
    
    
  }

.result-box {
border: 1px solid #ddd;
padding: 15px;
margin: 5px;
color: #f4f4f4;
background-color: #2117ab;
width: 60%;
box-sizing: border-box;
border-radius: 15px;
min-height: 80px; /* Adjust the minimum height as needed */

}

@media only screen and (max-width: 600px) {
    #search-container {
      width: 95%;
      margin: 80px 0px 0px 2.5%;
    }

    #search-input {
      width: 70%;
    }

    #search-icon {
      margin-right: 5px;
    }

    .result-box {
      width: 90%;
    }
  }
